@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Vietne Studentu datu baze ir paredzētā lai ierakstītu, glabātu un dzēstu studentu personiskos datus.Studentu datu baze ir iespējā izveidot lietotāju kontu un ielāgoties tajā, ka ari var filtrēt datus no datu bāzes augošā secībā, dilstošā secībā, kā arī rādīt noteiktu daudzumu.</p>
    <h3>Lai sāktu darbu, ir nepieciešams ielogoties sistemā </h3>
</div>
